* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root-layout-app {
  display: grid;
  min-height: 100vh;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
  font-display: optional;
  cursor: default;
}
